{%- if post.header.teaser -%}
  {%- capture teaser -%}{{ post.header.teaser }}{%- endcapture -%}
{%- else -%}
  {%- assign teaser = site.teaser -%}
{%- endif -%}

{%- if post.id -%}
  {%- assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" -%}
{%- else -%}
  {%- assign title = post.title -%}
{%- endif -%}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    {%- if include.type == "grid" and teaser -%}
      <div class="archive__item-teaser">
        <img src="{{ teaser | relative_url }}" alt="">
      </div>
    {%- endif -%}
    <h2 class="archive__item-title no_toc" itemprop="headline">
      <a href="{{ post.url | relative_url }}" rel="permalink">{%- if page.pinned == true -%}<i class="post-status-icon post-pinned-status-icon fas fa-thumbtack" title="This post is pinned"></i>{%- endif -%}{%- if page.listed == false -%}<i class="post-status-icon post-unlisted-status-icon fas fa-eye-slash" title="This post is unlisted from the main list of posts"></i>{%- endif -%}{%- if page.locked == true or page.comments == false -%}<i class="post-status-icon post-locked-status-icon fas fa-lock" title="This post does not accept new comments"></i>{%- endif -%}{{ title }}</a>
    </h2>
    {%- include page__meta.html type=include.type -%}
    {%- if post.short_description -%}
    <p class="archive__item-excerpt" itemprop="description">{{ post.short_description | markdownify | strip_html | truncate: 160 }}</p>
    {%- elsif post.excerpt -%}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>
    {%- endif -%}
  </article>
</div>
