{%- comment -%}
<!-- 
	Note:
	page.outside_preview must exist or else this will probably error.
-->
{%- endcomment -%}

{%- comment -%} <!-- miscellaneous stuff --> {%- endcomment -%}

{%- assign author = page.author | default: page.authors[0] | default: site.author -%}
{%- assign author = site.data.authors[author] | default: author -%}

{%- comment -%} <!-- seo_site_title --> {%- endcomment -%}

{%- if page.outside_preview.site_title -%}
{%- assign seo_site_title = page.outside_preview.site_title -%}
{%- endif -%}

<meta property="og:site_name" content="{{ seo_site_title }}">

{%- comment -%} <!-- seo_title --> {%- endcomment -%}

{%- assign seo_title = "" -%}

{%- if page.title -%}
{%- assign seo_title = page.title -%}
{%- endif -%}

{%- if page.outside_preview.title -%}
{%- assign seo_title = page.outside_preview.title -%}
{%- endif -%}

{%- if page.outside_preview.page_title_appended_text -%}
{%- assign seo_title = seo_title | append: page.outside_preview.page_title_appended_text -%}
{%- endif -%}

{%- assign seo_title = seo_title | markdownify | strip_html | strip_newlines | escape_once -%}

<title>{{ seo_title }}</title>
<meta property="og:title" content="{{ seo_title }}">

{%- comment -%} <!-- seo_description --> {%- endcomment -%}

{%- assign seo_description = page.outside_preview.description -%}
{%- if seo_description -%}
{%- assign seo_description = seo_description | markdownify | strip_html | newline_to_br | strip_newlines | replace: '<br />', ' ' | escape_once | strip -%}
{%- endif -%}

{%- if seo_description -%}
<meta name="description" content="{{ seo_description }}">
<meta property="og:description" content="{{ seo_description }}">
{%- else -%}
<meta name="description" content="">
{%- endif -%}

{%- comment -%} <!-- canonical_url --> {%- endcomment -%}

{%- if page.canonical_url -%}
{%- assign canonical_url = page.canonical_url -%}
{%- else -%}
{%- assign canonical_url = page.url | replace: "index.html", "" | absolute_url -%}
{%- endif -%}

<meta property="og:url" content="{{ canonical_url }}">
<link rel="canonical" href="{{ canonical_url }}">

{%- comment -%} <!-- page_image --> {%- endcomment -%}

{%- if page.header.overlay_image or page.header.image or page.header.teaser -%}
{%- assign page_image = page.header.overlay_image | page.header.image | page.header.teaser | absolute_url -%}
{%- assign page_image = page_image | escape -%}
{%- endif -%}

{%- if page.page_subject_info and page.page_subject_info.main_image and page.page_subject_info.main_image.path -%}
{%- assign page_image = page.page_subject_info.main_image.path | absolute_url | escape -%}
{%- endif -%}

{%- if page.outside_preview.image -%}
{%- assign page_image = page.outside_preview.image | absolute_url | escape -%}
{%- endif -%}

{%- if page_image -%}
<meta property="og:image" content="{{ page_image }}">
{%- endif -%}

{%- comment -%} <!-- author_twitter --> {%- endcomment -%}

{%- if author.twitter -%}
{%- assign author_twitter = author.twitter | replace: "@", "" -%}
{%- endif -%}

{%- if author_twitter -%}
<meta name="twitter:creator" content="@{{ author_twitter }}">
{%- endif -%}

{%- comment -%} <!-- twitter stuff --> {%- endcomment -%}

{%- if page.outside_preview.twitter -%}

{%- assign card_type_to_use = "summary" -%}

{%- if page.outside_preview.twitter.title -%}
<meta name="twitter:title" content="{{ page.outside_preview.twitter.title }}">
{%- endif -%}

{%- if page.outside_preview.twitter.description -%}
<meta name="twitter:description" content="{{ page.outside_preview.twitter.description }}">
{%- endif -%}

{%- if page.outside_preview.twitter.username -%}
<meta name="twitter:site" content="{{ page.outside_preview.twitter.username | replace: "@", "" }}">
{%- endif -%}

{%- if page.outside_preview.twitter.image -%}
<meta name="twitter:image" content="{{ page.outside_preview.twitter.image | absolute_url | escape }}">
{%- unless page.outside_preview.twitter.card_type -%}
{%- assign card_type_to_use = "summary" -%}
{%- endunless -%}
{%- endif -%}

{%- if page.outside_preview.twitter.card_type -%}
{%- assign card_type_to_use = page.outside_preview.twitter.card_type -%}
{%- endif -%}

<meta name="twitter:card" content="{{ card_type_to_use }}">

{%- endif -%}

{%- comment -%} <!-- end --> {%- endcomment -%}