{%- if page.notices or page.global_notices or page.used_set_notices and page.set_notices -%}
<div class="page-notices">
  {%- if page.used_set_notices and page.set_notices -%}
  {%- for PreSetNoticeData in page.set_notices -%}
    {%- if PreSetNoticeData.name and PreSetNoticeData.text -%}
	{%- if page.used_set_notices[PreSetNoticeData.name] == true -%}
    <div class="page-notice {% if PreSetNoticeData.type %}page-notice-{{ PreSetNoticeData.type }}{% endif %}">
      {{- PreSetNoticeData.text | markdownify | remove: "<p>" | remove: "</p>" -}}
    </div>
    {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
  {%- endif -%}
  {%- if page.global_notices -%}
  {%- for NoticeData in page.global_notices -%}
    {%- if NoticeData.text -%}
    <div class="page-notice {% if NoticeData.type %}page-notice-{{ NoticeData.type }}{% endif %}">
      {{- NoticeData.text | markdownify | remove: "<p>" | remove: "</p>" -}}
    </div>
    {%- endif -%}
  {%- endfor -%}
  {%- endif -%}
  {%- if page.notices -%}
  {%- for NoticeData in page.notices -%}
    {%- if NoticeData.text -%}
    <div class="page-notice {% if NoticeData.type %}page-notice-{{ NoticeData.type }}{% endif %}">
      {{- NoticeData.text | markdownify | remove: "<p>" | remove: "</p>" -}}
    </div>
    {%- endif -%}
  {%- endfor -%}
  {%- endif -%}
</div>
{%- endif -%}