{%- capture DecorativeColor -%}{{- page.page_subject_info.color | default: site.page_subject_info_panel_defaults.color -}}{%- endcapture -%}
{%- if DecorativeColor == "" -%}
{% assign DecorativeColor = "#000000" %}
{%- endif -%}
{%- unless DecorativeColor -%}
{% assign DecorativeColor = "#000000" %}
{%- endunless -%}
{%- capture DecorativeTextColor -%}{{- page.page_subject_info.titles_text_color | default: site.page_subject_info_panel_defaults.titles_text_color -}}{%- endcapture -%}
{%- if DecorativeTextColor == "" -%}
{% assign DecorativeTextColor = "#FFFFFF" %}
{%- endif -%}
{%- unless DecorativeTextColor -%}
{% assign DecorativeTextColor = "#FFFFFF" %}
{%- endunless -%}
<div class="page-subject-info">
  {%- if page.page_subject_info -%}
  <div class="psi-holder-box">
    {%- if page.page_subject_info.title -%}
    <div class="psi-title" style="background-color: {{ DecorativeColor }}; color: {{ DecorativeTextColor }}">
      {{ page.page_subject_info.title | strip_html | markdownify | remove: "<p>" | remove: "</p>" }}
    </div>
    {%- endif -%}
    {%- if page.page_subject_info.main_image.path -%}
    <div class="psi-main-image-holder">
      <img class="psi-main-image" src="{{ page.page_subject_info.main_image.path | relative_url }}" alt="{%- if page.page_subject_info.main_image.alt -%}{{ page.page_subject_info.main_image.alt }}{%- endif -%}">
    </div>
    {%- endif -%}
    {%- if page.page_subject_info.description -%}
    <div class="psi-description">
      {{ page.page_subject_info.description | strip_html | markdownify | remove: "<p>" | remove: "</p>" }}
    </div>
    {%- endif -%}
    {%- if page.page_subject_info.data -%}
    <div class="psi-data-lists">
      {%- for page_subject_data_list in page.page_subject_info.data -%}
      <div class="psi-data-list">
        {%- if page_subject_data_list.title -%}
        <div class="psi-data-list-title" style="background-color: {{ DecorativeColor }}; color: {{ DecorativeTextColor }}">
          {{ page_subject_data_list.title | strip_html | markdownify | remove: "<p>" | remove: "</p>" }}
        </div>
        {%- endif -%}
        {%- if page_subject_data_list.data -%}
        <div class="psi-data-list-data-list">
          {%- for page_subject_data in page_subject_data_list.data -%}
          {%- if page_subject_data.key -%}
          {%- if page_subject_data.value -%}
          <div class="psi-data-list-data">
            <div class="psi-data-list-data-key">
              {{ page_subject_data.key | strip_html | markdownify }}
            </div>
            <div class="psi-data-list-data-value">
              {{ page_subject_data.value | strip_html | markdownify | remove: "<p>" | remove: "</p>" }}
            </div>
          </div>
          {%- elsif page_subject_data.color_image -%}
          <div class="psi-data-list-data">
            <div class="psi-data-list-data-key">
              {{ page_subject_data.key | strip_html | markdownify }}
            </div>
            <div class="psi-data-list-data-value">
              {%- include color-image fordockentrancetypecolor=page_subject_data.color_image.dock_type_color name=page_subject_data.color_image.name alt="" -%}
            </div>
          </div>
          {%- endif -%}
          {%- endif -%}
          {%- endfor -%}
        </div>
        {%- endif -%}
      </div>
      {%- endfor -%}
    </div>
    {%- endif -%}
  </div>
  {%- endif -%}
</div>