{%- capture page_subject_info -%}{{ page.page_subject_info }}{% endcapture %}

{%- if page_subject_info -%}
<div>
  {%- if page_subject_info.title -%}
  <div>
    {{ page_subject_info.title | strip_html | markdownify }}
  </div>
  {%- endif -%}
  {%- if page_subject_info.main_image.path -%}
  <div>
    <img src="{{ page_subject_info.main_image.path | relative_url }}" alt="{%- if page_subject_info.main_image.alt -%}{{ page_subject_info.main_image.alt }}{%- endif -%}">
  </div>
  {%- endif -%}
  {%- if page_subject_info.description -%}
  <div>
    {{ page_subject_info.description | strip_html | markdownify }}
  </div>
  {%- endif -%}
  {%- if page_subject_info.data -%}
  {%- for page_subject_data_list in page_subject_info.data -%}
  <div>
    {%- if page_subject_data_list.title -%}
    <div>
      {{ page_subject_data_list.title | strip_html | markdownify }}
    </div>
    {%- endif -%}
    {%- if page_subject_data_list.data -%}
    {%- for page_subject_data in page_subject_data_list.data -%}
    {%- if page_subject_data.key and page_subject_data.value -%}
    <div>
      <div>
        {{ page_subject_data.key | strip_html | markdownify }}
      </div>
      <div>
        {{ page_subject_data.value | strip_html | markdownify }}
      </div>
    </div>
    {%- endif -%}
    {%- endfor -%}
    {%- endif -%}
  </div>
  {%- endfor -%}
  {%- endif -%}
  {%- endif -%}
</div>
{%- endif -%}