{%- if page.sidebars and page.sidebars.page_navigation_panel and page.sidebars.page_navigation_panel.list_name_used and site.data.navigation[page.sidebars.page_navigation_panel.list_name_used] -%}
{%- assign NavigationList = site.data.navigation[page.sidebars.page_navigation_panel.list_name_used] -%}
<div class="page-navigation {% include page-sidebar-left-class.html %}">
  {%- for Item1 in NavigationList -%}
  {%- if Item1.title -%}
  <div class="page-navigation-item">
    <div class="page-navigation-item-title"><i class="page-navigation-item-title-arrow fas fa-angle-right"></i>
    {%- if Item1.url -%}
    <a href="{{ Item1.url | relative_url }}">{{- Item1.title | markdownify | strip_html | strip_newlines -}}</a>
    {%- else -%}
    {{- Item1.title | markdownify | strip_html | strip_newlines -}}
    {%- endif -%}
    </div>
    {%- if Item1.children -%}
    <div class="page-navigation-sub-items-holder">
      {%- for Item2 in Item1.children -%}
      {%- if Item2.title -%}
      <div class="page-navigation-item">
        <div class="page-navigation-item-title"><i class="page-navigation-item-title-arrow fas fa-angle-right"></i>
        {%- if Item2.url -%}
        <a href="{{ Item2.url | relative_url }}">{{- Item2.title | markdownify | strip_html | strip_newlines -}}</a>
        {%- else -%}
        {{- Item2.title | markdownify | strip_html | strip_newlines -}}
        {%- endif -%}
        </div>
        {%- if Item2.children -%}
        <div class="page-navigation-sub-items-holder">
          {%- for Item3 in Item2.children -%}
          {%- if Item3.title -%}
          <div class="page-navigation-item">
            <div class="page-navigation-item-title"><i class="page-navigation-item-title-arrow fas fa-angle-right"></i>
            {%- if Item3.url -%}
            <a href="{{ Item3.url | relative_url }}">{{- Item3.title | markdownify | strip_html | strip_newlines -}}</a>
            {%- else -%}
            {{- Item3.title | markdownify | strip_html | strip_newlines -}}
            {%- endif -%}
            </div>
          </div>
          {%- endif -%}
          {%- endfor -%}
        </div>
        {%- endif -%}
      </div>
      {%- endif -%}
      {%- endfor -%}
    </div>
    {%- endif -%}
  </div>
  {%- endif -%}
  {%- endfor -%}
</div>
{%- endif -%}