{%- if page.is_post -%}
{%- if page.is_update_log == true and page.update_published_at and site.update_log_time_zone -%}
<p class="page__date"><strong><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> Update published to RBAP:</strong> {{ page.update_published_at | date: "%A, %B %e, %Y at %l:%M %p" }} ({{ site.update_log_time_zone }})</p>
{%- endif -%}
{%- if page.post_created_at -%}
<p class="page__date"><strong><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> Post Created:</strong> {{ page.post_created_at | date: "%A, %B %e, %Y" }}</p>
{%- endif -%}
{%- if page.post_updated_at -%}
<p class="page__date"><strong><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> Post Updated:</strong> {{ page.post_updated_at | date: "%A, %B %e, %Y" }}</p>
{%- endif -%}
{%- endif -%}