{%- if page.listed_page_category -%}
{%- capture CategoryToList -%}{{ page.listed_page_category }}{%- endcapture -%}
{%- assign PagesToList = site.pages | where_exp: "item", "item.page_categories[CategoryToList] == true" -%}
<div class="page-category-page-list">
  {%- for PageToList in PagesToList -%}
  {%- if PageToList.title -%}
  <div class="page-category-other-page">
    <a href="{{ PageToList.url | relative_url | remove: ".html" }}">
      <div class="page-category-other-page-title">
        {{ PageToList.title }}
      </div>
    </a>
  </div>
  {%- endif -%}
  {%- endfor -%}
</div>
{%- endif -%}