{%- if page.listed_page_category -%}
{%- capture CategoryToList -%}{{ page.listed_page_category }}{%- endcapture -%}
{%- assign PagesToList = site.pages | where_exp: "item", "item.page_categories[CategoryToList] == true" -%}
{%- assign Alphabet = "A, B, C, D, E, F, G, H, I, J, K, L, M, N, O, P, Q, R, S, T, U, V, W, X, Y, Z" | split: ", " -%}
<div class="pages-in-page-category-lists-holder">
  {%- for Letter in Alphabet -%}
  <div class="pages-in-page-category-list">
    <div class="pages-in-page-category-list-title">
      {{ PageToList.Letter }}
    </div>
    {%- for PageToList in PagesToList -%}
    {%- if PageToList.title -%}
    {%- assign PageTitleToLookAt = PageToList.title | remove_first: "Dock: " | remove_first: "Dock Type: " -%}
    {%- assign FirstCharacter = PageTitleToLookAt | truncate: 1, "" | upcase -%}
    {%- if FirstCharacter == Letter -%}
    <div class="page-in-page-category">
      <a href="{{ PageToList.url | relative_url | remove: ".html" }}">
        <div class="page-in-page-category-page-title">
          {{ PageToList.title }}
        </div>
      </a>
    </div>
    {%- endif -%}
    {%- endif -%}
    {%- endfor -%}
  </div>
  {%- endfor -%}
</div>
{%- endif -%}