{%- unless page.header.overlay_color or page.header.overlay_image -%}
<header class="page-header">
  {%- if page.is_post == true -%}
  <h1 id="page-title" class="page-title {% if page.uses_image_header != true %}non-splash-page-title{% endif %}">
    {%- include post-status-icons.html post=page -%}{{- page.title | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines -}}
  </h1>
  {%- else -%}
  <h1 id="page-title" class="page-title {% if page.uses_image_header != true %}non-splash-page-title{% endif %}">
    {{- page.title | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines -}}
  </h1>
  {%- endif -%}
  
  {%- include page-categories-in-lister.html -%}
  
  {%- include page__meta.html -%}
</header>
{%- endunless -%}