{%- if page.notices or page.global_notices or page.used_set_notices and page.set_notices -%}
<div class="page-notices">
  {%- if page.used_set_notices and page.set_notices -%}
  {%- for PreSetNoticeData in page.set_notices -%}
  {%- if PreSetNoticeData.name and PreSetNoticeData.title and PreSetNoticeData.text -%}
  {%- if page.used_set_notices[PreSetNoticeData.name] == true -%}
  {%- include page-notice type=PreSetNoticeData.type title=PreSetNoticeData.title text=PreSetNoticeData.text -%}
  {%- endif -%}
  {%- endif -%}
  {%- endfor -%}
  {%- endif -%}
  
  {%- if page.global_notices -%}
  {%- for NoticeData in page.global_notices -%}
  {%- if NoticeData.title and NoticeData.text -%}
  {%- include page-notice type=NoticeData.type title=NoticeData.title text=NoticeData.text -%}
  {%- endif -%}
  {%- endfor -%}
  {%- endif -%}
  
  {%- if page.notices -%}
  {%- for NoticeData in page.notices -%}
  {%- if NoticeData.title and NoticeData.text -%}
  {%- include page-notice type=NoticeData.type title=NoticeData.title text=NoticeData.text -%}
  {%- endif -%}
  {%- endfor -%}
  {%- endif -%}
</div>
{%- endif -%}