{%- if page.author_profile or layout.author_profile -%}
{%- assign author = page.author | default: page.authors[0] | default: site.author -%}
{%- assign author = site.data.authors[author] | default: author -%}

{%- comment -%}{%- if author.name and author.avatar and author.avatar.path -%}{%- endcomment -%}
<div class="page-author-panel">
  {%- if author.avatar.link -%}
  <a class="pap-author-image-link {% if author.avatar.is_roblox_avatar == true %}pap-author-image-roblox-avatar{% endif %}" href="{{ author.avatar.link | relative_url }}">
    <img class="pap-author-image" src="{{ author.avatar.path | relative_url }}" alt="">
  </a>
  {%- else -%}
  <img class="pap-author-image" src="{{ author.avatar.path | relative_url }}" alt="">
  {%- endif -%}
  <div class="pap-main-details-holder">
    <div class="pap-author-name">
      {{ author.name }}
    </div>
    {%- if author.affiliation -%}
    <div class="pap-author-affiliation">
      {{ author.affiliation }}
    </div>
    {%- endif -%}
    {%- if author.info -%}
    <div class="pap-author-info">
      {{ author.info }}
    </div>
    {%- endif -%}
  </div>
</div>
{%- comment -%}{%- endif -%}{%- endcomment -%}
{%- endif -%}