---
layout: default
---

{%- if page.header.overlay_color or page.header.overlay_image or page.header.image -%}
  {%- include page__hero.html -%}
{%- elsif page.header.video.id and page.header.video.provider -%}
  {%- include page__hero_video.html -%}
{%- endif -%}

{%- if page.url != "/" and site.breadcrumbs -%}
  {%- unless paginator -%}
    {%- include breadcrumbs.html -%}
  {%- endunless -%}
{%- endif -%}

<div class="main-holder">
  <main id="main" class="main main-position-misbehaves {% if page.show_sidebars != false %}full-page-off{% elsif page.show_sidebars == false %}full-page-on{% endif %}" role="main">
    {%- include sidebar.html -%}
    
    <article class="page" itemscope itemtype="https://schema.org/CreativeWork">
      {%- if page.title -%}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{%- endif -%}
      {%- if page.excerpt -%}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{%- endif -%}
      {%- if page.date -%}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{%- endif -%}
      {%- if page.last_modified_at -%}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{%- endif -%}
      
      <div class="page__inner-wrap">
        {%- include page-header.html -%}
        
        <section class="page__content" id="page-content" itemprop="text">
          {%- include page-notices.html -%}
          
          <section id="archive-main" class="archive-layout-main">
            {{ content }}
          </section>
        </section>
        
        {%- if site.enabled_features.new_footer == true -%}
        {%- include page-footer.html -%}
        {%- endif -%}
      </div>
      
      {%- if site.comments.provider and page.comments -%}
      {%- include comments.html -%}
      {%- endif -%}
    </article>
    
    {%- include page-sidebar-left.html -%}
  </main>
</div>