---
layout: default
---

{%- if page.header.overlay_color or page.header.overlay_image or page.header.image -%}
  {%- include page__hero.html -%}
{%- elsif page.header.video.id and page.header.video.provider -%}
  {%- include page__hero_video.html -%}
{%- endif -%}

{%- if page.url != "/" and site.breadcrumbs -%}
  {%- unless paginator -%}
    {%- include breadcrumbs.html -%}
  {%- endunless -%}
{%- endif -%}

<div class="main-holder">
  <main id="main" class="main {% if site.enabled_features.sidebar_structuring_use_float == true %}page-structuring-float{% else %}page-structuring-flex{% endif %} {% if page.show_sidebars == false %}full-page-on{% else %}full-page-off{% endif %}" role="main">
    {%- include page-sidebar-left.html -%}
    
    <article class="page" itemscope itemtype="https://schema.org/CreativeWork">
      {%- if page.title -%}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{%- endif -%}
      {%- if page.excerpt -%}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{%- endif -%}
      {%- if page.date -%}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{%- endif -%}
      {%- if page.last_modified_at -%}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{%- endif -%}
      
      <div class="page__inner-wrap">
        {%- include page-header.html -%}
        
        <section class="page__content" id="page-content" itemprop="text">
          {%- include page-notices.html -%}
          {{ content }}
          {%- include page-category-lister.html -%}
        </section>
        
        {%- if site.enabled_features.new_footer == true -%}
        {%- include page-footer.html -%}
        {%- endif -%}
        
        {%- if site.enabled_features.old_footer == true -%}
        {%- include page-data-footer.html -%}
        {%- endif -%}
        
        {%- if page.share -%}{%- include social-share.html -%}{%- endif -%}
        
        {%- include post_pagination.html -%}
      </div>
      
      {%- if site.comments.provider and page.comments -%}
      {%- include comments.html -%}
      {%- endif -%}
      
      {%- if page.id and page.related == true and site.related_posts.size > 0 -%}
      <div class="page__related">
        <h4 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "Other Posts" }}</h4>
        <div class="grid__wrapper">
          {%- for post in site.related_posts limit:4 -%}
          {%- include archive-single.html type="grid" -%}
          {%- endfor -%}
        </div>
      </div>
      {%- elsif page.id and page.related == true -%}
      <div class="page__related">
        <h4 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "Other Posts" }}</h4>
        <div class="grid__wrapper">
          {%- for post in site.posts limit:4 -%}
          {%- if post.id == page.id -%}
          {%- continue -%}
          {%- endif -%}
          {%- include archive-single.html type="grid" -%}
          {%- endfor -%}
        </div>
      </div>
      {%- endif -%}
    </article>
    
    {%- include page-sidebar-right.html -%}
  </main>
</div>