header.page__title-header .page__title .post-status-icon {
  margin-right: 10px;
}

article.archive__item .archive__item-title .post-status-icon {
  margin-right: 5px;
}

h6 {
  font-size: .7em;
  margin: 0 0 1.3em 0;
  font-weight: normal;
  color: #3d4144bf;
}

.masthead {
  position: initial; // -- Was sticky
  top: 0;
  background-color: #ffffff;
  box-shadow: 0 0 25px #00000033;
}

.initial-content {
  .non-splash-page-title {
    text-align: center;
    font-size: 2em;
  }
  
  #main {
    margin-top: 2em;
    
    .sidebar>* {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  
  .page .page__inner-wrap .page__content {
    .page-notices {
      margin: 2em 0 2em 0;
    }
    
    table tbody tr td img.color-image {
      box-shadow: 0 0 10px 0 #00000040;
      
      &.dock-type-light-color {
        border-radius: 100%;
      }
    }
    
    h1.update-log-section-title {
      text-align: center;
      padding-bottom: 0;
      border-bottom: 0;
    }
    
    h1,
    h2 {
      padding-bottom: 0.5em;
      border-bottom: 3px solid #e6e6e6;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 1em 0 0.75em 0;
    }
    
    h1,
    h2 {
      margin: 1em 0 0.5em 0;
    }
    
    h6 {
      margin: 0 0 0 0;
    }
    
    .feature__item .archive__item .archive__item-body {
      .archive__item-title {
        border-bottom: none;
        margin: 0.3em 0 0.2em 0;
        padding-bottom: 0;
      }
      
      .archive__item-excerpt>* {
        margin: 0 0 1em;
      }
    }
    
    .language-plaintext.highlighter-rouge div.highlight code {
      background: none;
    }
    
    img.dock-type-image {
      background-color: #0000000d;
    }
    
    p.no-format {
      margin: unset;
    }
    
    table {
      margin-top: 1em;
    }
  }
}

.taxonomy__section {
  border-bottom: none !important;
  padding-bottom: 0 !important;
}

.feature__item {
  float: left;
  margin-bottom: 0;
  width: 49%;
}

.feature__item:nth-child(3n+2) {
  clear: unset;
  margin-left: unset;
}

.feature__item:nth-child(3n+1) {
  clear: unset;
  margin-left: unset;
}

.feature__item:nth-child(2n+2) {
  clear: none;
  margin-left: 1.6949152542%;
}

.feature__item:nth-child(2n+1) {
  clear: both;
  margin-left: 0;
}

.page__title-header .page__title .post-status-icon, .archive__item .archive__item-title .post-status-icon {
  margin-right: 10px;
  
  &.post-status-icon- {
    &pinned {
      color: #7d7d7d;
    }
    &unlisted {
      color: #969696;
    }
    &locked {
      color: #ff6464;
    }
    &old-update-log-listed {
      color: #ffc800;
    }
  }
}

.page-notice {
  margin: 1em 0 1em 0;
  padding: 1em;
  color: #3d4144;
  font-size: .75em;
  background-color: #f5f5f5;
  border-radius: 10px;
  
  a {
    color: #afafaf;
  }
  
  &.page-notice- {
    &info {
      background-color: #c8ebfa;
      
      a {
        color: #008cc8;
      }
    }
    
    &success {
      background-color: #c8fad2;
      
      a {
        color: #00af23;
      }
    }
    
    &warning {
      background-color: #fae6c8;
      
      a {
        color: #af6900;
      }
    }
    
    &danger {
      background-color: #fad7d7;
      
      a {
        color: #af0000;
      }
    }
  }
}

div.bob-name-easter-egg {
  display: inline;
  
  &::selection {
    color: #00ffff;
  }
}

.page__meta p.page__taxonomy.list {
  height: initial;
}

.page__meta p {
  margin: 10px 0 0 0;
  height: 35px;
}

.nav__sub-title {
  border-bottom: 0;
}

.page__comments .utterances-comments .timeline-comment .avatar img {
  border-radius: 50%;
}

.nav__list .nav__items .active {
  margin-left: initial;
  padding-left: initial;
  padding-right: initial;
//  text-shadow: 0 4px #00000040;
//  font-size: 1.25em;
}

img {
  border-radius: 5px;
}

hr {
  border-top: 3px solid #e6e6e6;
}

code {
  background: #efefef;
}

blockquote {
  font-style: normal;
}

s.spoiler {
  filter: blur(8px);
  text-decoration: none;
  
  &:hover {
    filter: none;
  }
}

a {
  text-decoration: none;
  
  code {
    color: #3d4144;
  }
}
