#page-title {
  text-align: center;
  font-size: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0 0.5em;
}

h6 {
  font-size: .7em;
  margin: 0 0 1.3em;
  font-weight: normal;
  color: #3d4144bf;
}

hr {
  border-top: 3px solid #e6e6e6;
}

code {
  background: #efefef;
}

a {
  text-decoration: none;
  
  code {
    color: #3d4144;
  }
}
