#page-title {
  text-align: center;
  font-size: 2em;
}

header.page__title-header .page__title .post-status-icon {
  margin-right: 10px;
}

article.archive__item .archive__item-title .post-status-icon {
  margin-right: 5px;
}

header.page__title-header .page__title .post-status-icon, article.archive__item .archive__item-title .post-status-icon {
  &.post-pinned-status-icon {
    color: #7d7d7d;
  }
  &.post-unlisted-status-icon {
    color: #969696;
  }
  &.post-locked-status-icon {
    color: #ff6464;
  }
}

h6 {
  font-size: .7em;
  margin: 0 0 1.3em 0;
  font-weight: normal;
  color: #3d4144bf;
}

.masthead {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  box-shadow: 0 0 25px #00000033;
}

.initial-content {
  #main {
    margin-top: 2em;
    
    .sidebar>* {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  
  .page .page__inner-wrap .page__content {
    table tbody tr td img.color-image {
      box-shadow: 0 0 10px 0 #00000040;
      
      &.dock-type-light-color {
        border-radius: 100%;
      }
    }
    
    h1.update-log-section-title {
      text-align: center;
      padding-bottom: 0;
      border-bottom: 0;
    }
    
    h1,
    h2 {
      padding-bottom: 0.5em;
      border-bottom: 3px solid #e6e6e6;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 1em 0 0.75em 0;
    }
    
    h1,
    h2 {
      margin: 1em 0 0.5em 0;
    }
    
    h6 {
      margin: 0 0 0 0;
    }
    
    .language-plaintext.highlighter-rouge div.highlight code {
      background: none;
    }
    
    img.dock-type-image {
      background-color: #0000000d;
    }
    
    div.no-format, p.no-format {
      display: initial;
    }
    
    table {
      margin-top: 1em;
    }
  }
}

.page__meta p.page__taxonomy.list {
  height: initial;
}

.page__meta p {
  margin: 10px 0 0 0;
  height: 35px;
}

.nav__sub-title {
  border-bottom: 0;
}

.page__comments .utterances-comments .timeline-comment .avatar img {
  border-radius: 50%;
}

.nav__list .nav__items .active {
  margin-left: initial;
  padding-left: initial;
  padding-right: initial;
//  text-shadow: 0 4px #00000040;
//  font-size: 1.25em;
}

.notice, .notice--primary, .notice--info, .notice--warning, .notice--success, .notice--danger {
  border-radius: 10px;
}

.notice, .notice--primary {
  background-color: #f5f5f5;
}

.notice--info {
  background-color: #c8ebfa;
}

.notice--warning {
  background-color: #fae6c8;
}

.notice--success {
  background-color: #c8fad2;
}

.notice--danger {
  background-color: #fad7d7;
}

img {
  border-radius: 5px;
}

hr {
  border-top: 3px solid #e6e6e6;
}

code {
  background: #efefef;
}

blockquote {
  font-style: normal;
}

s.spoiler {
  filter: blur(8px);
  text-decoration: none;
  
  &:hover {
    filter: none;
  }
}

a {
  text-decoration: none;
  
  code {
    color: #3d4144;
  }
}
